<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>

    {% if user.is_authenticated %}
                <a href="/logout" class="property-sub">LOGOUT</a>
                {% else %}
                <a href="/register" class="property-sub">SIGN UP</a>
                <a href="/login" class="property-sub">SIGN IN</a>
    {% endif %}
</div>

<div style="padding-left:16px">
  <h2>SIGNUP & LOGIN Example</h2>
  <p></p>
</div>
{% block title %}{% endblock %}

{% block content %}
<div class="row">
	{% if messages %}
	<div class="alert alert-success" id="myTabContent" >
		{% for message in messages %}
		{{ message }}
		{% endfor %}
	</div>
	{% endif %}
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="panel-group">
			<div class="panel panel-default" style="margin-top:50px;">
				<div class="panel-heading" style="text-align:center; font-size:25px;">Login Form</div>
				<div class="panel-body">
					<form method="post">
						{% csrf_token %}
						<div> Username :<input name="username"  class=form-control type='text'></div><br>
						<div> Password :<input name="password" class=form-control type='password'></div><br>
						<button type="submit" class="btn btn-default">Login</button>
						&nbsp&nbsp<a href="{% url 'register' %}">Signup here</a>
					</form>
				</div>

			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div></div></body></html>
{% endblock content %}
